@font-face {
  font-family: "Zt";
  src: url(../Font/ZtChablisSemiBold-BWgLG.ttf);
}
@font-face {
  font-family: "Ztp1";
  src: url(../Font/MYRIADPRO-REGULAR.OTF);
}
@font-face {
  font-family: "ztp2";
  src: url(../Font/Poppins-Bold.ttf);
}
@font-face {
  font-family: "Fimg";
  src: url(../Font/QesteroRegular-axKqR.ttf);
}
@font-face {
  font-family: "Flogo";
  src: url(../Font/NewYorkLargeRegular.otf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

li {
  display: inline;
  list-style-type: none;
  padding-left: 30px;
  padding-right: 30px;
}

a {
  text-decoration: none;
  color: black;
  font-family: Georgia;
}

.nav-link {
  font-weight: bold;
  color: #000000;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.5%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.inicio {
  background-image: url(../Images/c5.png);
  background-size: cover;
  height: 55vh;
}

.transform1 {
  font-family: Flogo;
  font-size: 20px;
}

.nav-link {
  font-weight: bold;
  color: #ffffff;
}

.titulo1 {
  text-align: center;
  padding-top: 20px;
  font-family: Zt;
  color: #333333;
  font-size: 70px;
}

.contenedor2 {
  width: auto;
  height: auto;
  background-color: #333333;
  display: grid;
  padding-left: 20px;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
  grid-template-columns: 350px;
  grid-template-rows: 400px;
  grid-gap: 5px 5px;
}

.img2 {
  background-size: cover;
  background-position: center;
}

.img2:hover {
  filter: contrast(80%);
  transition: all 0, 50s;
}

.img1 {
  background-image: url(../Images/img1.jpg);
}

.img2a {
  background-image: url(../Images/img2.jpg);
}

.img3 {
  background-image: url(../Images/img3.jpg);
}

.img4 {
  background-image: url(../Images/img4.jpg);
}

.img5 {
  background-image: url(../Images/img5.jpg);
}

.p1 {
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 30px;
  font-size: 20px;
  font-family: Ztp1;
}

.sobremi {
  width: 100%;
  height: auto;
}

.nleft {
  width: 100px;
  padding-top: 20px;
  padding-left: 50px;
  text-align: center;
}

.div {
  font-size: 80px;
  text-align: center;
  line-height: 80%;
  margin-top: 10%;
  font-family: ztp2;
}

.nright {
  padding: 100px;
  width: 100%;
}

.contenedor {
  width: auto;
  height: auto;
  background-color: rgb(61, 60, 59);
  display: grid;
  padding-left: 20px;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 50px;
  grid-template-columns: 1fr;
  grid-template-rows: 400px 400px 400px 400px 400px 400px 400px 400px 400px;
  grid-gap: 5px 5px;
}

.foto {
  background-size: cover;
  background-position: center;
}

.foto:hover {
  filter: contrast(60%);
  transition: all 1, 5s;
}

.foto:hover .sobreimg {
  top: 0%;
  transition: all 0.1s;
}

.sobreimg1 {
  font-family: Fimg;
  position: relative;
  left: 100%;
  font-size: 40px;
}

.foto:hover .sobreimg1 {
  left: 0%;
  transition: all 0.1s;
}

.foto1 {
  background-image: url(../Images/foto1.jpg);
}

.foto2 {
  background-image: url(../Images/foto2.jpg);
}

.foto3 {
  background-image: url(../Images/foto3.jpg);
}

.foto4 {
  background-image: url(../Images/foto4.jpg);
}

.foto5 {
  background-image: url(../Images/foto5.jpg);
}

.foto6 {
  background-image: url(../Images/foto6.jpg);
}

.foto7 {
  background-image: url(../Images/foto7a.jpg);
}

.foto8 {
  background-image: url(../Images/foto8a.jpg);
}

.foto9 {
  background-image: url(../Images/foto9a.jpg);
}

.foto10 {
  background-image: url(../Images/foto10.jpg);
}

.foto11 {
  background-image: url(../Images/foto11.jpg);
}

.foto12 {
  background-image: url(../Images/foto12.jpg);
}

.foto13 {
  background-image: url(../Images/foto13.jpg);
}

.foto14 {
  background-image: url(../Images/foto14.jpg);
}

.foto15 {
  background-image: url(../Images/foto15.jpg);
}

.foto16 {
  background-image: url(../Images/foto16.jpg);
}

.foto17 {
  background-image: url(../Images/foto17.jpg);
}

.foto18 {
  background-image: url(../Images/foto18.jpg);
}

.foto19 {
  background-image: url(../Images/foto19.jpg);
}

.foto20 {
  background-image: url(../Images/foto20.jpg);
}

.foto21 {
  background-image: url(../Images/foto21.jpg);
}

.contenedor1 {
  width: auto;
  height: auto;
  background-color: rgb(61, 60, 59);
  display: grid;
  padding-left: 20px;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 50px;
  grid-template-columns: 1fr;
  grid-template-rows: 400px;
  grid-gap: 5px 5px;
}

.fotoa {
  background-size: cover;
  background-position: center;
}

.fotoa:hover {
  filter: contrast(80%);
  transition: all 0, 50s;
}

.fotob {
  background-image: url(../Images/acciones.png);
}

.fotoc {
  background-image: url(../Images/presets.png);
}

.fotod {
  background-image: url(../Images/agenda.png);
}

.textshop {
  color: #ffffff;
  font-family: Ztp1;
  font-size: 20px;
  margin-top: 500px;
  text-align: center;
  font-weight: bold;
}

.sobremi1 {
  width: 100%;
  height: auto;
}

.nleft1 {
  width: 100px;
  margin: 20px;
  padding-left: 30px;
}

.div1 {
  font-size: 50px;
  text-align: center;
  line-height: 100%;
  margin-top: 10%;
  font-family: ztp2;
}

.nright1 {
  padding: 100px;
  width: 100%;
}

.contacto1 {
  text-align: center;
  padding-top: 10px;
  background-color: #DDDDDD;
}

.parrafoContacto {
  font-weight: bold;
  padding-top: 50px;
  font-family: ztp2;
  font-size: 50px;
}

.pC1 {
  font-family: Ztp1;
  padding-bottom: 50px;
  letter-spacing: 0.25em;
  word-spacing: 0.25em;
}

.boton1 {
  text-decoration: none;
  font-weight: 60;
  font-size: 20px;
  width: 200px;
  color: #333333;
  font-family: "Ztp1";
  border-color: #d8d8d8;
  border-width: 3px;
  border-style: solid;
  border-radius: 35px;
  text-align: center;
}

.inicio1 {
  background-image: url(../Images/header.png);
  background-size: cover;
  height: 80vh;
}

.stylefont {
  font-family: fuenteL;
}

.acm {
  background-color: #333333;
  padding-bottom: 23px;
  height: auto;
  width: auto;
}

.p2 {
  padding-top: 30px;
  padding-left: 150px;
  padding-right: 150px;
  text-align: center;
  font-size: 27px;
  color: #d8d8d8;
  -webkit-text-decoration: double;
          text-decoration: double;
  font-family: ztp2;
}

.p3 {
  text-align: justify;
  padding-top: 30px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 20px;
  font-size: 17px;
  color: coloruno;
  font-family: ztp2;
}

footer {
  background-color: #979797;
  text-align: center;
  font-size: 20px;
  font-family: Ztp1;
  padding: 20px;
}

.imgfooter {
  width: 500px;
  height: auto;
}

.fotopersonal {
  display: block;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
}

footer i {
  text-align: start;
  display: flex;
  justify-content: space-between 500px;
  flex-wrap: wrap;
  letter-spacing: 10px;
}

@media only screen and (min-width: 480px) {
  .contenedor {
    grid-template-columns: 1fr;
    grid-template-rows: 400px 400px 400px 400px 400px 400px 400px 400px 400px 400px;
  }
  .contenedor1 {
    grid-template-columns: 1fr;
    grid-template-rows: 500px 500px 500px;
  }
  .textshop {
    color: #ffffff;
    font-family: Ztp1;
    font-size: 20px;
    margin-top: 480px;
    text-align: center;
    font-weight: bold;
  }
  .div1 {
    font-size: 50px;
    text-align: center;
  }
}
@media only screen and (min-width: 768px) {
  .inicio {
    background-image: url(../Images/c5.png);
    background-size: cover;
    height: 75vh;
  }
  .contenedor {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 400px;
  }
  .contenedor1 {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 400px 400px;
  }
  .contenedor2 {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 500px;
  }
  .textshop {
    color: #ffffff;
    font-family: Ztp1;
    font-size: 20px;
    margin-top: 400px;
    text-align: center;
    font-weight: bold;
  }
  .nleft {
    width: 50%;
  }
  .nright {
    width: 50%;
    display: flex;
    flex-direction: column;
  }
  .sobremi {
    display: flex;
  }
  .nleft1 {
    width: 50%;
  }
  .nright1 {
    width: 50%;
    display: flex;
    flex-direction: column;
  }
  .sobremi1 {
    display: flex;
  }
  .div1 {
    font-size: 50px;
    text-align: center;
  }
  .p3 {
    text-align: justify;
    padding-top: 30px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 20px;
    font-size: 17px;
    color: coloruno;
    font-family: ztp2;
  }
}
@media only screen and (min-width: 1024px) {
  .inicio {
    background-image: url(../Images/c5.png);
    background-size: cover;
    height: 100vh;
  }
  .contenedor {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 500px 500px 500px 500px 500px 500px 500px;
  }
  .contenedor1 {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 500px;
  }
  .contenedor2 {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 500px;
  }
  .titulo1 {
    text-align: center;
  }
  .textshop {
    color: #ffffff;
    font-family: Ztp1;
    font-size: 20px;
    margin-top: 500px;
    text-align: center;
    font-weight: bold;
  }
  .div1 {
    font-size: 80px;
    text-align: center;
  }
  .p3 {
    text-align: justify;
    padding-top: 30px;
    padding-left: 300px;
    padding-right: 300px;
    padding-bottom: 20px;
    font-size: 17px;
    color: coloruno;
    font-family: ztp2;
  }
}/*# sourceMappingURL=estilos.css.map */